<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- pybo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>파이보</title>
</head>
<body>
{% include "navbar.html" %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- JQuery JS -->
<script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<!-- 자바스크립트 Start -->
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="Chart.min.js"></script>
<div>
    <canvas id="Chart"></canvas>
</div>

<script>
    var ctx = document.getElementById('Chart').getContext('2d');
    var data = {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {
            labels: ["12.1", "12.2", "12.3", "12.4", "12.5", "12.6", "12.7"],
            datasets: [{
                label: "온도 변화",
                data: [12.1, 12.3, 10.5, 9.3, 8.2, 7.0, 6.0],
                backgroudColor: 'rgb(255, 120, 132)',
                fill: false,
                borderColor: 'rgb(255, 128, 132)',
                lineTension:0.5 // 값을 높이면 line이 곡선 형태가 됨
                
            }]
        },
        // Configuration options go here
        options: {}
    }
    var chart = new Chart(ctx, data);
</script>
{% endblock %}
<!-- 자바스크립트 End -->
</body>
</html>
